@font-face {
  font-family: "Georgia";
  font-weight: 300;
  font-display: swap;
  src: url("@/assets/fonts/Georgia/Georgia Light.ttf") format("opentype");
}

@font-face {
  font-family: "Georgia";
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/Georgia/Georgia.ttf") format("opentype");
}
@font-face {
  font-family: "Georgia";
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/Georgia/Georgia Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Georgia";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("@/assets/fonts/Georgia/Georgia Bold Italic.ttf") format("opentype");
}

@font-face {
  font-family: "Georgia";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("@/assets/fonts/Georgia/Georgia Italic.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-display: swap;
  src: url("@/assets/fonts/Inter/Inter-ExtraLight.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-display: swap;
  src: url("@/assets/fonts/Inter/Inter-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/Inter/Inter-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-display: swap;
  src: url("@/assets/fonts/Inter/Inter-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-display: swap;
  src: url("@/assets/fonts/Inter/Inter-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/Inter/Inter-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-display: swap;
  src: url("@/assets/fonts/Inter/Inter-ExtraBold.ttf") format("opentype");
}